PORT=3000
SECRET_MESSAGE={{ secret_message }}
USERNAME={{ basic_auth_username }}
PASSWORD={{ basic_auth_password }}
MONGO_URI=mongodb://root:{{ mongo_root_password }}@mongo:27017/tododb?authSource=admin
REDIS_URL=redis://redis:6379